.heading {
    color: #A4A400;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
    font-weight: normal;
    letter-spacing: 0.25em;
}
.heading span {
    background-color: #F0F0F0;
}

.heading#main {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

body {
    margin-left: 1%;
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
    background-image: url("./images/silverware.jpg");
}
a {
    color: #A4A400;
}

ul {
    list-style-image: url("./images/pie_icon.gif");
}

.comment {
    background-color: #FFFFA8;
    color: black;
    font-style: italic;
}

.linethrough {
    text-decoration: line-through;
}

.copyright {
    font-family: monospace;
    text-align: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    text-decoration: underline;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}